<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" placeholder="00.000.000/0000-00" name="cnpj" ngModel required pattern="^\d{14}$|^\d{2}[.]{1}\d{3}[.]{1}\d{3}[/]{1}\d{4}[-]{1}\d{2}$" #cnpj="ngModel"
                [ngClass]="aplicaCssErro(cnpj)"
                (blur)="consultaCnpj($event.target.value, f)">
            <div class="invalid-feedback">
                CNPJ é obrigatório.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="razaoSocial">Razão-Social</label>
            <input type="text" class="form-control" id="razaoSocial" placeholder="Razão-Social" name="razaoSocial" ngModel required #razaoSocial="ngModel"  
                [ngClass]="aplicaCssErro(razaoSocial)">
            <div class="invalid-feedback">
                Razão-Social é obrigatório.
            </div>
        </div>    
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="nome@email.com.br" name="email" ngModel required email #email="ngModel" 
                [ngClass]="aplicaCssErro(email)">
            <div class="invalid-feedback">
                Email é obrigatório.
            </div>
        </div>
    </div>
    <div ngModelGroup="endereco">     
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" placeholder="Número" name="numero" ngModel required #numero="ngModel"
                    [ngClass]="aplicaCssErro(numero)">
                <div class="invalid-feedback">
                    Número é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" placeholder="CEP" name="cep" ngModel required #cep="ngModel"
                    [ngClass]="aplicaCssErro(cep)"
                    (blur)="consultaCEP($event.target.value, f)">
                <div class="invalid-feedback">
                    CEP é obrigatório.
                </div>
            </div>            
            <div class="form-group col-md-6">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" placeholder="Complemento" name="complemento" ngModel #complemento="ngModel">            
            </div>
        </div>
        <div class="form-group">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" ngModel #rua="ngModel" readonly required
                [ngClass]="aplicaCssErro(rua)">      
            <div class="invalid-feedback">
                Rua é obrigatório.
            </div>      
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" ngModel readonly required #bairro="ngModel"
                    [ngClass]="aplicaCssErro(bairro)">
                <div class="invalid-feedback">
                    Bairro é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" ngModel readonly required #cidade="ngModel"
                    [ngClass]="aplicaCssErro(cidade)">
                <div class="invalid-feedback">
                    Cidade é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="uf">UF</label>
                <input type="text" class="form-control" id="uf" name="uf" ngModel readonly required #uf="ngModel"
                    [ngClass]="aplicaCssErro(uf)">
                <div class="invalid-feedback">
                    UF é obrigatório.
                </div>
            </div>
        </div>  
    </div>   

    <button type="submit" class="btn btn-primary"
    [disabled]="f.invalid">Submit</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>