<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" routerLink="">Rotas</a> -->
  <span class="navbar-brand mb-0 h1">Rotas</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav"> 
      <a class="nav-item nav-link" routerLink="/cursos" routerLinkActive="active" *ngIf="mostrarMenu">Cursos</a>  
      <a class="nav-item nav-link" routerLink="/alunos" routerLinkActive="active" *ngIf="mostrarMenu">Alunos</a>    
    </div>    
  </div>
</nav>

<div class="container">  
  <router-outlet></router-outlet>
</div>

