<nav id="navbar-example2" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <ng-content select=".titulo"></ng-content>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#fat">Painel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#mdo">Configuração</a>
      </li>
    </ul>
  </nav>
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <h4 id="fat">Painel</h4>
        <ng-content select=".corpo"></ng-content>
    <h4 id="mdo">Configuração</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id orci fermentum, vehicula felis id, dignissim ipsum. Mauris non feugiat eros, a maximus nunc. Nunc a dolor in leo imperdiet semper vitae at arcu. Cras suscipit nibh vel consectetur sollicitudin. Nunc in aliquet sapien. Integer elementum ante quis dui dapibus, in lacinia nulla blandit. Nulla facilisi.</p>
    <p>Nulla semper eu metus vitae rhoncus. Aliquam sit amet mi ut turpis iaculis ultricies. Fusce vel tincidunt urna. Etiam aliquam fringilla eleifend. Nunc a nulla est. Donec semper leo accumsan fringilla ultrices. Phasellus tincidunt non felis eget efficitur. Fusce eget tempor metus, quis sollicitudin arcu. Nunc malesuada purus a magna condimentum, non auctor erat venenatis. Donec cursus dolor nulla, sit amet rhoncus neque aliquam eget. Nulla placerat ante at nisi scelerisque ullamcorper. Aenean eu rhoncus lacus.</p>
    <p>Fusce mollis dictum leo at luctus. In elementum tortor vel enim dignissim, eget auctor velit consectetur. Proin scelerisque tempor risus, sed auctor tortor posuere at. Cras sit amet orci erat. Cras ultrices placerat rhoncus. Suspendisse enim risus, suscipit in ultrices sit amet, euismod ut quam. Vestibulum efficitur lacus risus, vel pharetra eros interdum ac. Nunc ultrices nisl at leo dapibus tristique. Ut magna massa, gravida vulputate fringilla ut, euismod vitae mauris. Quisque ultrices accumsan purus, et convallis nunc congue ut. In sit amet sodales nisi. Pellentesque commodo in libero nec hendrerit.</p>
    <p>Nulla vehicula ligula vitae urna iaculis, sit amet malesuada ipsum congue. Etiam lectus massa, porta non volutpat ac, placerat in sapien. Suspendisse at urna vel metus fringilla viverra. Nam congue tellus non tellus pretium consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non ante metus. Maecenas lacus elit, iaculis volutpat lorem eget, eleifend lobortis tortor. Aenean accumsan ipsum et suscipit varius. Cras non molestie elit, eu hendrerit mauris. Suspendisse blandit pellentesque vulputate. Maecenas imperdiet facilisis turpis, vitae blandit nulla cursus gravida. Proin quam lacus, consequat in dui ut, egestas gravida arcu.</p>
    <p>Nulla facilisi. Integer scelerisque leo quis scelerisque tempor. Praesent sodales massa in condimentum posuere. Ut fringilla at quam ullamcorper accumsan. In non elit quis eros faucibus iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque, erat ac dictum scelerisque, nulla lorem pretium justo, et feugiat urna libero sit amet odio. Morbi sodales libero a libero egestas aliquet hendrerit et massa. Suspendisse euismod eget odio vel pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi gravida nunc id leo placerat, sed malesuada ligula lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus hendrerit nulla vitae ante molestie dictum. Phasellus justo leo, egestas eu tellus vitae, finibus vestibulum mi.</p>
  </div>