<h1>
    <p>Teste</p>
    <img [src]="meuFavorito == true ? getIconeGitHub() : getIconeActive()"
        (click)="onClick()">
</h1>

<h1>
    <p>Utilizando Property Biding</p>
    <span class="badge"
        [class.badge-success]="meuFavorito"
        [class.badge-danger]="!meuFavorito"
        (click)="onClick()">
        Teste ngClass
    </span>
</h1>

<h1>
    <p>Utilizando ngClass</p>
    <span class="badge"
        [ngClass]="{
            'badge-success':meuFavorito,
            'badge-danger':!meuFavorito
        }"
        (click)="onClick()">
        Teste ngClass
    </span>
</h1>
