<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" placeholder="00.000.000/0000-00" formControlName="cnpj"
                [ngClass]="aplicaCssErro('cnpj')">
            <div class="invalid-feedback">
                CNPJ é obrigatório.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="razaoSocial">Razão-Social</label>
            <input type="text" class="form-control" id="razaoSocial" placeholder="Razão-Social" formControlName="razaoSocial"
                [ngClass]="aplicaCssErro('razaoSocial')">
            <div class="invalid-feedback">
                Razão-Social é obrigatório.
            </div>
        </div>    
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="nome@email.com.br" formControlName="email"
                [ngClass]="aplicaCssErro('email')">
            <div class="invalid-feedback">
                Email é obrigatório.
            </div>
        </div>
    </div>
    <div>     
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="numero"
                    [ngClass]="aplicaCssErro('numero')">
                <div class="invalid-feedback">
                    Número é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" placeholder="CEP" formControlName="cep"
                    [ngClass]="aplicaCssErro('cep')">
                <div class="invalid-feedback">
                    CEP é obrigatório.
                </div>
            </div>            
            <div class="form-group col-md-6">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" placeholder="Complemento" formControlName="complemento">            
            </div>
        </div>
        <div class="form-group">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" formControlName="rua"
                [ngClass]="aplicaCssErro('rua')">      
            <div class="invalid-feedback">
                Rua é obrigatório.
            </div>      
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" formControlName="bairro"
                    [ngClass]="aplicaCssErro('bairro')"> 
                <div class="invalid-feedback">
                    Bairro é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" formControlName="cidade"
                    [ngClass]="aplicaCssErro('cidade')"> 
                <div class="invalid-feedback">
                    Cidade é obrigatório.
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="uf">UF</label>
                <input type="text" class="form-control" id="uf" formControlName="uf"
                    [ngClass]="aplicaCssErro('uf')"> 
                <div class="invalid-feedback">
                    UF é obrigatório.
                </div>
            </div>
        </div>  
    </div>   

    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-secondary" (click)="resetarForm()">Cancelar</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>