<form class="needs-validation" novalidate [formGroup]="form">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        <h5>Criar Novo Curso</h5>
      </div>
      <span class="float-right">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="onCancel(template)">
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-success btn-sm" (click)="onSubmit()">
          Salvar
        </button>
      </span>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="nomeCurso">Nome do Curso</label>
        <input type="text" class="form-control" id="nomeCurso" formControlName="nomeCurso"
          [ngClass]="{'is-invalid': submitted && hasError('nomeCurso')}" />
        <div class="invalid-feedback" *ngIf="hasError('nomeCurso') && hasError('nomeCurso')['minlength']">
          O nome precisa ter no mínimo {{ hasError('nomeCurso')['minlength'].requiredLength }} caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="hasError('nomeCurso') && hasError('nomeCurso')['maxlength']">
          O nome precisa ter no máximo {{ hasError('nomeCurso')['maxlength'].requiredLength }} caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="hasError('nomeCurso') && hasError('nomeCurso')['required']">
          Por favor insira um nome para o curso.
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cancelar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Existem alterações não salvas, deseja cancelar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" [routerLink]="['/cursos']"
      (click)="modalRef.hide()">Sim</button>
    <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">Não</button>
  </div>
</ng-template>