<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
    <div class="titulo">
        Thomas
    </div>
    <div class="corpo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id orci fermentum, vehicula 
                felis id, dignissim ipsum. Mauris non feugiat eros, a maximus nunc. Nunc a dolor in leo imperdiet 
                semper vitae at arcu. Cras suscipit nibh vel consectetur sollicitudin. Nunc in aliquet sapien. 
                Integer elementum ante quis dui dapibus, in lacinia nulla blandit. Nulla facilisi.</p>  
        <app-operador-elvis></app-operador-elvis> 
    </div> 
</app-exemplo-ng-content> -->

<!-- <app-dretiva-customizadas></app-dretiva-customizadas> -->

<app-dretiva-customizadas></app-dretiva-customizadas>