<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h5>Relação de Cursos Disponíveis</h5>
        </div>
        <span class="float-right">
            <button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['/cursos/novo']">Novo Curso</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onRefresh()">Atualizar</button>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Curso</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursos">
                        <td>{{ curso.id }}</td>
                        <td>{{ curso.curso }}</td>
                        <td>
                            <span class="float-right">
                                <button type="button" class="btn btn-outline-dark btn-sm" (click)="onEdit(curso.id)">Atualizar</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete(curso, template)">Remover</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #loading>
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Excluir</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Deseja realmente excluir o curso?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" [routerLink]="['/cursos']"
        (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">Não</button>
    </div>
  </ng-template>